{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block css %}
    
{% endblock css %}


{% block body_block %}
<section class="about-section py-5 bg-dark">
    <div class="contain text-center">
        <h1 class="py-4 text-light">BE A PART OF US</h1>
    </div>
</section>

<!-- <section class="container mt-5">
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</section> -->

<section class="container my-5">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <section>
            <div class="row">
                <h3>Personal Information</h3>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <label class="col-form-label">Applicant's Name</label>
                                <div class="">
                                    {{ personal_form.name }}
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <label class="col-form-label">Father's Name</label>
                                <div class="">
                                    {{ personal_form.father_name }}
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-form-label">Mother's Name</label>
                                <div class="">
                                    {{ personal_form.mother_name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group row">
                                <label class="col-form-label">Upload Image</label>
                                <div>
                                    {{ personal_form.photo }}
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <label class="col-form-label">Upload Sign</label>
                                <div>
                                    {{ personal_form.signature }}
                                </div>
                            </div>

                            <div>
                                <label class="col-form-label">Gender</label>
                                {{ personal_form.gender }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-6">
                    <label>Permanent Address</label>
                    {{ personal_form.permanent_address }}
                </div>
                <div class="col-md-6">
                    <label>Present Address</label>
                    {{ personal_form.present_address }}
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Email</label>
                    <div>
                        {{ personal_form.email }}
                    </div>
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Phone 1</label>
                    <div>
                        {{ personal_form.contact_num_1 }}
                    </div>
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Phone 2</label>
                    <div>
                        {{ personal_form.contact_num_2 }}
                    </div>
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Religion</label>
                    <div>
                        {{ personal_form.religon }}
                    </div>
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Marital Status </label>
                    <div>
                        {{ personal_form.married }}
                    </div>
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Spouse Name</label>
                    <div>
                        {{ personal_form.spouse_name }}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row mt-md-5">
                <h3>Academic Qualification</h3>
                {{ education_formset.management_form }}
                {% for form in education_formset %}
                <div class="col-md-1 form-group row">
                    <label class="col-form-label">Exam</label>
                    <div>
                        <label class="col-form-label">Masters</label>
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label text-center">Year</label>
                    <div>
                        {{ form.masters }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label text-center">Result</label>
                    <div>
                        {{ form.result_1 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label text-center">Group/Department</label>
                    <div>
                        {{ form.group_subject_1 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <label class="col-form-label text-center">Faculty/Board</label>
                    <div>
                        {{ form.board_faculty_1 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <label class="col-form-label text-center">Institute/University</label>
                    <div>
                        {{ form.institute_1 }}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-1 form-group row">
                    <div>
                        <label class="col-form-label">Bachelor</label>
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.bachelor }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.result_2 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.group_subject_2 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <div>
                        {{ form.board_faculty_2 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <div>
                        {{ form.institute_3 }}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-1 form-group row">
                    <div>
                        <label class="col-form-label">HSC</label>
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.hsc }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.result_3 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.group_subject_3 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <div>
                        {{ form.board_faculty_3 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <div>
                        {{ form.institute_3 }}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-1 form-group row">
                    <div>
                        <label class="col-form-label">SSC</label>
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.ssc }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.result_4 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.group_subject_4 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <div>
                        {{ form.board_faculty_4 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <div>
                        {{ form.institute_4 }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <div class="row mt-md-5">
                <h3>Training/Course</h3>
                {{ training_formset.management_form }}

                {% for form in training_formset %}
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Title</label>
                    <div>
                        {{ form.title_1 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label">Year</label>
                    <div>
                        {{ form.year_1 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label">Result</label>
                    <div>
                        {{ form.result_1 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label">Duration</label>
                    <div>
                        {{ form.duration_1 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <label class="col-form-label">Institute</label>
                    <div>
                        {{ form.institute_1 }}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-4 form-group row">
                    <div>
                        {{ form.title_2 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.year_2 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.result_2 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.duration_2 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <div>
                        {{ form.institute_2 }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <div class="row mt-md-5">
                <h3>Experience (If any)</h3>
                {{ experience_formset.management_form }}

                {% for form in experience_formset %}
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Position</label>
                    <div>
                        {{ form.position_1 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label">Duration</label>
                    <div>
                        {{ form.duration_1 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label">Department</label>
                    <div>
                        {{ form.department_1 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <label class="col-form-label">Institution</label>
                    <div>
                        {{ form.institute_1 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <label class="col-form-label">Responsibility</label>
                    <div>
                        {{ form.responsibility_1 }}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-4 form-group row">
                    <div>
                        {{ form.position_2 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.duration_2 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.department_2 }}
                    </div>
                </div>
                <div class="col-md-2 form-group row">
                    <div>
                        {{ form.institute_2 }}
                    </div>
                </div>
                <div class="col-md-3 form-group row">
                    <div>
                        {{ form.responsibility_2 }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <div class="row mt-md-5">
                <h3>Extracurricular / Skill</h3>
                {{ skill_formset.management_form }}

                {% for form in skill_formset %}
                <div class="col-md-12">
                    {{ form.description }}
                </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <div class="row mt-md-5">
                <h3>Reference </h3>
                <div class="col-md-6">
                    {{ reference_formset.management_form }}

                    {% for form in reference_formset %}
                    <div class="form-group">
                        <label class="col-sm-6 col-form-label">Name of person-1</label>
                        <div class="col-sm-12">
                            {{ form.name_1 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 col-form-label">About</label>
                        <div>
                            {{ form.contact_info_1 }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-6 col-form-label">Name of person-2</label>
                        <div class="col-sm-12">
                            {{ form.name_2 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 col-form-label">About</label>
                        <div>
                            {{ form.contact_info_2 }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <button type="submit" class="btn btn-primary">Submit <i class="fa-solid fa-hand-pointer"></i></button>
    </form>
</section>
{% endblock %}