{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/activity.css' %}">
    <link rel="stylesheet" href="{% static 'css/proces.css' %}">
{% endblock css %}


{% block body_block %}
<section class="about-section py-5">
    <div class="contain text-center">
        <h1 class="py-4">BE A PART OF US</h1>
    </div>
</section>

<section class="container mt-5">
    <form action="">
        <section>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Applicant's Name</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control mb-3" placeholder="" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Father's Name</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control mb-3" placeholder="" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mother's Name</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control mb-3" placeholder="" required>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <label>Upload Image</label>
                    <input type="file" class="form-control-file" placeholder="Upload Image" required>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-md-6">
                    <label>Permanent Address</label>
                    <textarea class="form-control mb-3" rows="5" id="comment" name="text" required></textarea>
                </div>
                <div class="col-md-6">
                    <label>Present Address</label>
                    <textarea class="form-control mb-3" rows="5" id="comment" name="text" required></textarea>
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Phone 1</label>
                    <div>
                        <input type="number" class="form-control mb-3" required>
                    </div>
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Phone 2</label>
                    <div>
                        <input type="number" class="form-control mb-3">
                    </div>
                </div>
                <div class="col-md-4 form-group row">
                    <label class="col-form-label">Email</label>
                    <div>
                        <input type="email" class="form-control mb-3" required>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
{% endblock %}