{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/activity.css' %}">
    <link rel="stylesheet" href="{% static 'css/proces.css' %}">
    <link rel="stylesheet" href="{% static 'css/teachers.css' %}">
{% endblock css %}


{% block body_block %}

    <section class="contain" id="contain_top_banner">
        <img class="img_banner" src="{% static 'img/IMG_5024.jpg' %}" alt="">
        <div class="overlay"> 
            <h2 class="text-light display-3">YEAR PLANNER</h2>
        </div>
    </section>
    <section class="contain">
        <img class="img-fluid mt-5 p-lg-2" src="{% static 'img/Planner.jpg' %}" alt="">
    </section>
{% endblock %}