{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/mission.css' %}">
{% endblock css %}


{% block body_block %}
 
  <section class="about-section py-5">
      <div class="contain text-center">
          <h1 class="py-4" id="school_slogan">School For The Future</h1>
      </div>
  </section>

    <section class="mt-5 pt-5">
        <div class="container"> 
            <div class="row">
                <div class="col-md-6">
                  <img class="img img-fluid mt-sm-5 mt-0" id="about-img" src="{% static 'img/ethereal.jpg' %}" alt="">
                </div>
                <div class="col-md-6 mt-5 mt-sm-0">
                  <h2 class="message_title">INTRODUCTION</h2>
                  <div class="" id="text_underline"></div>
                  <p id="para">ETHEREAL is the first English Medium School in Feni following
                    Cambridge Curriculum with Islamic education. We are committed to
                    providing state-of-the-art educational facilities, a qualified teachers
                    team and a conducive learning environment for learners.
                    <br><br>
                    We want to raise curious, knowledgeable, and caring young people who are prepared to face the challenges of our modern-day &quot;global village.&quot; They will aspire to be responsible citizens who embrace and respect people from different cultures and walks of life and make meaningful contributions to society.
                    <br><br>
                    We have a team of qualified and experienced teachers who will help our students reach their full physical, social, spiritual, and moral potential. Our students will be taught moral values and various skills that will enable them to face life&#39;s dynamic challenges and opportunities with care, confidence, and self-discipline.
                    <br><br>
                    To get our students to their desired destination, we set up a fully equipped, air-conditioned campus, science lab with available equipment, computer lab, and multimedia classroom.
                  </p>
                </div>
            </div>
        </div>
    </section>

    <section>
      <div class="container">
        <p class="lead text-center"></p>
        <figcaption class="blockquote-footer">
          <cite title="Source Title">"The roots of excellence are here"</cite>
        </figcaption>
      </div>
    </section>

  <section class="mt-5 pt-5">
      <div class="container"> 
          <div class="row">
              <div class="col-md-4">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front pt-3">
                        <i class="fas fa-bullseye"></i>
                        <h2 class="mt-3">MISSION</h2>
                      </div>
                      <div class="flip-card-back">
                        <p class="lead p-1 pt-2">The ETHEREAL will identify and nurture exceptional young people from any background with the potential to become effective, ethical leaders. Academy graduates will be reflective, compassionate, adventurous and creative citizens empowered as stewards to make a positive contribution in a changing world.
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <i class="fa-solid fa-lightbulb pt-3"></i>
                          <h2 class="mt-3">VISION</h2>
                        </div>
                        <div class="flip-card-back" id="flip_back">
                          <ul class="lead mt-5">
                            <li>&#9642; Brain Developemnet</li>
                            <li>&#9642; Heart Developemnet</li>
                            <li>&#9642; Mind Developemnet</li>
                            <li>&#9642; Body Developemnet</li>
                            <li>&#9642; Social Developemnet</li>
                          </ul> 
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front pt-3">
                          <i class="fa-solid fa-hand-holding-hand"></i>
                          <h2 class="mt-3">VALUES</h2>
                        </div>
                        <div class="flip-card-back">
                            <ul class="lead mt-5 text-start" id="flip_back_list">
                              <li>&#9642; EXCELLENCE</li>
                              <li>&#9642; INNOVATION</li>
                              <li>&#9642; MANNER</li>
                              <li>&#9642; DISCIPLINE</li>
                              <li>&#9642; LEADERSHIP</li>
                            </ul> 
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  {% endblock %} 
