{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/activity.css' %}">
    <link rel="stylesheet" href="{% static 'css/proces.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock css %}


{% block body_block %}
    <section class="contain">
        <img class="img_banner" src="{% static 'img/contact.jpg' %}" alt="">
        <div class="overlay"></div>
    </section>

    <section>
      <div class="container">
        <div class="row py-5">
          <div class="col-md-6">
            <h1 class="">FIND US ON MAP</h1>
            <div class="" id="text_underline"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8734.460267432885!2d91.39266102670955!3d23.009515822759518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375369a40e462c1b%3A0x9c4493eee9986bbd!2sEthereal!5e0!3m2!1sen!2sbd!4v1700723926179!5m2!1sen!2sbd" width="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-md-6">
            <h1 class="admisson_head">ADMISSION QUERY</h1>
            <div class="" id="text_underline"></div>
            <div class="row" id="form_row">
              <form action="" method="POST">
                <fieldset>
                  <div class="mb-3">
                    <label class="form-label">Name*</label>
                    <input type="text" class="form-control" placeholder="Write Your Name" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email*</label>
                    <input type="email" class="form-control" placeholder="Enter Your Email Address" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Phone*</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">+880</span>
                      <input type="tel" class="form-control" placeholder="Enter Your Phone Number" aria-describedby="basic-addon1" required>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Select Grade*</label>
                    <select id="disabledSelect" class="form-select" required>
                      <option value="none" selected disabled hidden>Select an Option</option>
                      <option value="">Nursery</option>
                      <option value="">Lower KG</option>
                      <option value="">Upper KG</option>
                      <option value="">Grade One</option>
                      <option value="">Grade Two</option>
                      <option value="">Grade Three</option>
                      <option value="">Grade Four</option>
                      <option value="">Grade Five</option>
                      <option value="">Grade Six</option>
                      <option value="">Grade Seven</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Message*</label>
                    <textarea class="form-control" name="" id="" rows="5" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}