{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/teachers.css' %}">
{% endblock css %}

{% block body_block %}   
    <section class="contain" id="contain_top_banner">
        <img class="img_banner" src="{% static 'img/teachers.jpg' %}" alt="">
        <div class="overlay"> 
            <h2 class="text-light display-3">OUR DEDICATED FACULTY MEMBERS</h2>
        </div>
    </section>

    <section class="container">
        <div class="row mt-5 pt-3">
            {% for member in faculty_members %}
            <div class="col-sm-4 mt-5">
                <div class="card text-center">
                    <img class="img-thumbnail img-fluid rounded-circle w-50 mx-auto" src="{{ member.get_image }}" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title" id="title">{{ member.name }}</h4>
                      <p class="card-text">{{ member.designation }}</p>
                      <p class="card-text">{{ member.education }}</p>
                      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">See Profile</button> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}