{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/process.css' %}">
    <link rel="stylesheet" href="{% static 'css/teachers.css' %}">
{% endblock css %}

{% block body_block %}  

  <section class="contain" id="contain_top_banner">
        <img class="img-fluid" src="{% static 'img/admission/Age-01.jpg' %}" alt="">
        <div class="overlay"> 
            <h2 class="text-light display-3">ADMISSION INTAKE <br> JANUARY TO DECEMBER</h2>
        </div>
  </section>

    <section class="container" id="age_container">
        <div class="row">
            <div class="col-md-3" id="age_requirments_container">
                <img id="age_requirments_01" src="{% static 'img/admission/Age-1.png' %}" alt="">
            </div>
            <div class="col-md-9" id="age_requirments_container">
                <img id="age_requirments_01" src="{% static 'img/admission/Age-2.png' %}" alt="">
            </div>
        </div>
    </section>

  <!-- <section>
    <div class="container">
        <div class="row pt-md-2">
            <div class="col-md-4">
                <div class="columns">
                    <ul class="price">
                      <li class="header">Admission Application</li>
                      <li>Admission are open from Play Group to Class 9 Only</li>
                      <li>Admission are closed for Class 10</li>
                      <li>Admission are accepted while there is available class capacity</li>
                      <li>Applications must purchase the Admissions From online or at the Admission office</li>
                      <li>Applicants assessment are campulsory for play gropu to class 9</li>
                      <li class="grey"><a href="{% url 'admission_app:admission' %}" class="button">Apply Now</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="columns">
                    <ul class="price">
                      <li class="header">Admission Assessment</li>
                      <li>All Applicants must attent admission assesment-orally and / or written</li>
                      <li>Nursery Applicants are assessed orally</li>
                      <li>Grade 9 applicants are assessed through written test</li>
                      <li>Applicants must score over 60% on the assessment to be eligble for admission</li>
                      <li class="grey"><a href="{% url 'admission_app:admission' %}" class="button">Apply Now</a></li>
                    </ul>
                  </div>
            </div>
             <div class="col-md-4">
                <div class="columns">
                    <ul class="price">
                      <li class="header">Admission Documents</li>
                      <li>Applicants ID-Brith Certificate or Passport</li>
                      <li>Father & Mother's ID-National or Passport</li>
                      <li>Applicants photo-passport size. Father & Mother's photo-passport size</li>
                      <li>Withdrawal Certificate. Medical Document</li>
                      <li>Income statement of parents/guardians</li>
                      <li class="grey"><a href="{% url 'admission_app:admission' %}" class="button">Apply Now</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
  </section> -->

    <section id="application_process_container">
      <div class="container">
        <div class="row py-md-5">
        <div class="col-md-4">
          <div class="row" id="admission_process">
            <img class="admission_process_img" src="{% static 'img/admission/Web-page-3.png' %}" alt="">
          </div>
          <div class="row">
            <img class="admission_process_img" src="{% static 'img/admission/Web-page-4_1.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-center">
          <div class="row" id="admission_process">
            <img class="admission_process_img" src="{% static 'img/admission/Web-page-1.png' %}" alt="">
          </div>
          <div class="row">
            <img class="admission_process_img mt-5 pt-md-5" src="{% static 'img/admission/Web-page-5.png' %}" alt="">
          </div>
          <div class="row">
            <a class="btn btn-primary my-5" href="{% url 'admission_app:admission' %}">Apply Now</a>
          </div>
        </div>
      </div>
      </div>
    </section>
{% endblock %}